.btn-primary{
    --bs-btn-active-bg: #06306e !important;
}
body{
    transition: all 0.5s ease-in-out;
    color: #ececec !important;
    background-color: #212121 !important;
}

@media (min-width: 768px) { 
    #dealer-cards{
        height:12rem!important;
        align-items: center!important;
        justify-content: center;
        border-radius: 25px;
        margin-top: 2rem;
        padding-bottom: 5rem;
        display: flex;
    }
    #dealer-cards img {
        margin-top: 6rem !important;
    }
 }
 @media (min-width: 420px) and (max-width: 767.98px){ 
    #dealer-cards{
        height:25rem!important;
        align-items: center!important;
        justify-content: center;
        border-radius: 25px;
        margin-top: 2rem;
        padding-bottom: 5rem;
        
    }
    #dealer-cards img {
        margin-top: 6rem;
    }
 }
#dealer-cards{
    height: 35rem;
    align-items: center !important;
    justify-content: center;
    border-radius: 25px;
    margin-top: 2rem;
    padding-bottom: 5rem;
    
}
#dealer-cards img {
    height: 8.75rem;
    width: 6.25rem;
    margin: 1rem;
    justify-content: center;
    transition: all 500ms ease-in-out;

   
    }

    .hidden{
        display: none !important;
    }
